<% include('../layouts/header.ejs') %>

<h1>Edit User</h1>


<form action="" method="post">
    <input type="name" name="name" placeholder="Enter Name" value="<%= user.name %>" required>
    <br><br>
    <input type="email" name="email" placeholder="Enter Email" value="<%= user.email %>" required>
    <br><br>
    <input type="text" name="mobile" placeholder="Enter Mobile" value="<%= user.mobile %>" required>
    <br><br>
    <label> Verified </label>
    <input type="radio" name="verify" value="1" <% if(user.is_varified == 1){ %> checked <% } %>>
    <br><br>
    <label> Unverified </label>
    <input type="radio" name="verify" value="0" <% if(user.is_varified == 0){ %> checked <% } %>>


    <br><br>
    <input type="hidden" name="id" value="<%= user._id %>">
    <input type="submit" value="Update User">
</form>

    <a href="/admin/dashboard">Dashboard</a>


<% include('../layouts/footer.ejs') %>