 <!-- external css file link -->
 <link rel="stylesheet" type="text/css" href="/stylesheets/userFooter.css" />
 <!-- <script src="../../public/js/home.js"></script> -->

 <!-- other styling link -->

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />



 <script src="https://code.jquery.com/jquery-3.6.0.min.js"
   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

 <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />






  <!-- footer section -->
  <footer class="home-footer">

    <div class="footer-navigation-link">
      <a href="/home" class="footer-nav-btn">Home</a>
      <a href="/projects" class="footer-nav-btn">Projects</a>
      <a href="/addProject" class="footer-nav-btn">New Project</a>
      <a href="#" class="footer-nav-btn">About</a>
      <a href="/contactUs" class="footer-nav-btn">Contact</a>
    </div>
    <hr>

    <div class="footer-social-subscribe">
      <div class="footer-left-icons">
        <a href="https://www.instagram.com/arpit70singh/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/arpit-singh-2b7081202/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://twitter.com/singharpit001" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      </div>
      <div class="footer-right-subscribe">
        <form action="" method="post">
          <input type="email" name="email" id="subscribe-email" placeholder="example@abc.domain">
          <input type="submit" value="Subscribe" id="subscribe-btn">
        </form>
      </div>
    </div>

    <hr>
    
    <div class="footer-copyright">
      <span>Created By <a href="#">Arpit Singh</a> | <span class="far fa-copyright"></span> 2023 All rights reserved.</span>
      <div class="footer-privacyFAQ-links">
        <a href="#">Privacy</a>
        <a href="#">Terms & Condition</a>
        <a href="#">FAQ</a>
      </div>
    </div>
  </footer>

</body>
</html>