<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- external css file link -->
    <link rel="stylesheet" href="style.css">



    <!-- other styling link -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>




    <link rel="shortcut icon" href="images/t-icon.png" type="image/x-icon">
</head>

<body>


    <!-- Header Navbar -->
    <nav class="navbar">
        <div class="max-width">
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
            <div class="logo"><a href="#">log<span>o</span></a></div>
            <ul class="menu">
                <li><a href="#" class="menu-btn">Home</a></li>
                <li><a href="#" class="menu-btn">About</a></li>
                <li><a href="#" class="menu-btn">Services</a></li>
                <li><a href="#" class="menu-btn">Skills</a></li>
                <li><a href="#" class="menu-btn">Teams</a></li>
                <li><a href="#" class="menu-btn">Contact</a></li>
            </ul>
            <!-- <div class="profile-pic"> -->
                <img src="arpit.jpg" class="profile-pic" onclick="toggleMenu()">
            <!-- </div> -->

            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="arpit.jpg" class="profile-pic">
                        <h3>Arpit Singh</h3>
                    </div>
                    <hr>
                    <a href="#" class="sub-menu-link">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <p>Edit Profile</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <p>Settings & privacy</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <i class="fas fa-question-circle"></i>
                        <p>Help & support</p>
                        <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <i class="fas fa-sign-out-alt"></i>
                        <p>Logout</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <!-- home/hero section -->
    <section id="home">
        <!-- <img src="./2.jpg" alt=""> -->
        <!-- <input type="text" name="search" id="search-input" placeholder="Search"> -->
    </section>



        <!-- footer section -->
        <!-- <footer>
            <span>Created By <a href="#">Niharika Mahajan</a> | <span class="far fa-copyright"></span> 2022 All rights
                reserved.</span>
        </footer> -->
    




    <!-- js file link -->
    <script src="app.js"></script>

