<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iitians Project Hub</title>

    <!-- external css file link -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/userHeader.css" />
    <!-- <script src="../../public/js/home.js"></script> -->
  
    <!-- other styling link -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
</head>
<body>
    
    <!-- header navbar -->
    <header>

        <a href="#" class="logo">logo</a>
        <nav class="navbar">
          <a href="/home" class="menu-btn">Home</a>
          <a href="/projects" class="menu-btn">Projects</a>
          <a href="/addProject" class="menu-btn">New Project</a>
          <a href="#" class="menu-btn">About</a>
          <a href="/contactUs" class="menu-btn">Contact</a>
        </nav>
        <div id="menu-bar" class="fas fa-bars"></div>
    </header>





    <script src="/js/userHeader.js"></script>

</body>
</html>