@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
}


:root {
    --blue: #475BE8;
    --title: #11142d;
    --grey: #f0f0f0;
    --des: #808191;
    --white: #fcfcfc;
  }











  .inp-field {
    width: 17rem;
    padding:10px;
    font-size:18px;
    border-width:1px;
    border-radius:5px;
    border-style:ridge;
    /* border-color:#7277db; */
    margin-bottom: .8rem;
}
.inp-field:focus { 
    outline: none;
    /* border-color: var(--title); */
    box-shadow: 1px 1px 4px 0px rgba(42,42,42,.75);
}
.btn {
    width: 7rem;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    margin-top: .4rem;
}
  
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}



/* profile pic styling */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    width: 5rem;
    height: 5rem;
    padding:10px;
    font-size:18px;
    border-width:1px;
    border-radius:50%;
    border-style:ridge;
    margin-bottom: .8rem;
    background: var(--grey);
    border-color: rgb(80, 79, 79);
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-left: 5.7rem;
    
}
.custom-file-upload i {
    font-size: 300%;
    color: grey;
}




.login-container{
    background-color: var(--grey);
    height: 100vh;
    padding-top: 4rem;
}
.sub-container{
    width: 80%;
    background-color: #fcfcfc;
    border-radius: 20px;
    display: flex;
    margin: auto;
}
.sub-container .left{
    width: 50%;
    height: 31.5rem;
    background-color: var(--blue);
    border-radius: 0 20px 20px 0;
}
.sub-container .left img{
    margin: 6.5rem 0 0 8rem;
    width: 50%;
}
.sub-container .right{
    width: 50%;
    padding: 1rem 0 0 7rem;
}
.right h1{
    font-weight: 700;
    color: var(--title);
    margin-bottom: 1rem;
    margin-left: 2.3rem;
}

.new-account-link{
    /* margin-left: 3.8rem; */
    margin-left: .8rem;
}
.lin-cont{
    width: 65%;
    margin-top: 2.5rem;
}
.verification-link{
    margin-left: 2.3rem;
}
.regiter-success-msg{
    font-size: 1rem;
    padding: .3rem 2rem 1rem 0rem;
    color: green;
}





@media (max-width: 1210px){
    .sub-container .left img{
        margin: 7.5rem 0 0 7.5rem;
        width: 50%;
    }
    .sub-container .right{
        width: 50%;
        padding: 1rem 0 0 5.5rem;
    }
}
@media (max-width: 1080px){
    .sub-container .left img{
        margin: 8.2rem 0 0 7rem;
        width: 50%;
    }
    .sub-container .right{
        width: 50%;
        padding: 1rem 0 0 4.4rem;
    }
}
@media (max-width: 1000px){

    .login-container{
        padding-top: 13rem;
    }

    .inp-field {
        width: 15rem;
        padding:10px;
        font-size:16px;
        margin-bottom: .6rem;
    }
    .btn {
        width: 7rem;
        font-size: 16px;
        padding: 9px 18px 9px 18px;
        margin-top: .4rem;
    }
     

    .sub-container .left img{
        margin: 8.2rem 0 0 6.5rem;
        width: 50%;
    }
    .sub-container .right{
        width: 50%;
        padding: 1rem 0 0 4.9rem;
    }
    .login-link{
        display: block;
        margin-top: .7rem;
    }
}

@media (max-width: 760px){
    .sub-container .left{
        display: none !important;
    }
}




















































































/* .register{
    position: absolute;
    top: 3rem;
    left: 37%;
    width: 29%;
    background-color: rgba(240, 128, 128, 0.623);
    margin: auto;
    border-radius: .4rem;
}
.regTitle{
    font-size: 1.8rem;
    padding: 1rem 0 1rem 3rem;

}

.input-container{
    padding-left: 3rem;
}
.input-field{
    height: 2rem;
    width: 85.5%;
    border: 1.5px solid lightblue;
    border-radius: .3rem;
    margin-bottom: 1rem;
    font-size: .9rem;
    padding-left: .2rem;
}
#image-input{
    font-size: 1.1rem;
    padding-bottom: 1rem;
}
.btn{
    width: 8rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    color: #111;
    background: crimson;
    border: 1px solid crimson;
    border-radius: .3rem;
    padding: .5rem 0 .5rem 0;
}
.btn:hover{
    color: crimson;
    background: #fff;
    border: 1px solid crimson;
    border-radius: .3rem;
}
.regiter-success-msg{
    font-size: 1.3rem;
    padding: .1rem 2rem 1rem 3rem;
    color: green;
}
.login-link{
    text-decoration: none;
} */
