@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "ubuntu", sans-serif;
}

html {
    scroll-behavior: smooth;
  }
  .title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 5rem;
    padding-bottom: 2rem;
    color: #11142d;
  }

  /* home product section */
.project-container {
  padding: 0 6rem 2rem 6rem;
  background-color: #fcfcfc;
  /* border: 1px solid red;
   */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 20rem;
  width: 20rem;
  border: 1px solid black;
  margin: 1rem auto 1rem auto;
  padding: 0.5rem;
  /* cursor: pointer; */
  border: 0.1rem solid grey;
  border-radius: 0.5rem;
}

.card:hover {
  background: lavender;
  border: 0.1rem solid rgb(29, 170, 212);
}

.card-img {
  width: 100%;
  height: 65%;
}

.card-img img {
  width: 100%;
  height: 100%;
}

.card-details{
  padding-left: .2rem;
}

.card-details h3 {
  margin: 1rem 0px 0px 0rem;
  font-weight: 700;
}

.card-details p {
  margin: .3rem 0px 0px 0rem;
  font-size: 0.9rem;
}

.card-details p span{
  font-size: 1rem;
  margin-left: 0.2rem;
  color: rgb(29, 170, 212);
}

.card-details p span:hover {
  text-decoration: underline;
}

.card-details span {
  margin: 0.3rem 0px 0px 0rem;
  font-size: 0.8rem;
}
.card-details-btn-container a{
  margin: 0.3rem 0px 0px .2rem;
  font-size: 0.8rem;
}









/* media queries */

@media (max-width: 1100px){
  .card-img {
    width: 100%;
    height: 60%;
  }
}
@media (max-width: 947px){
  .card-details{
    padding-left: .2rem;
  }
  .card-details h3 {
    margin: .9rem 0px 0px 0rem;
    font-weight: 700;
    font-size: 1.2rem;
  }
  
  .card-details p {
    margin: .2rem 0px 0px 0rem;
    font-size: 0.9rem;
  }
  
  .card-details p span{
    font-size: .9rem;
    margin-left: 0.2rem;
    color: rgb(29, 170, 212);
  }
  
  .card-details p span:hover {
    text-decoration: underline;
  }
  
  .card-details span {
    margin: 0.4rem 0px 0px 0rem;
    font-size: 0.8rem;
  }
  .card-details-btn-container a{
    margin: 0.4rem 0px 0px 0.2rem;
    font-size: 0.8rem;
  }

}

@media (max-width: 470px){

  .project-container {
    padding: 0 4.5rem 0 4.5rem;
  }
  .card {
    height: 19rem;
    width: 20rem;
  }
  .card-img {
    width: 100%;
    height: 57%;
  }
  .card-details{
    padding-left: .1rem;
  }
  .card-details h3 {
    margin: .9rem 0px 0px 0rem;
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  .card-details p {
    margin: .2rem 0px 0px 0rem;
    font-size: 0.8rem;
  }
  
  .card-details p span{
    font-size: .8rem;
    margin-left: 0.2rem;
    color: rgb(29, 170, 212);
  }
  
  .card-details p span:hover {
    text-decoration: underline;
  }
  
  .card-details span {
    margin: 0.4rem 0px 0px 0rem;
    font-size: 0.8rem;
  }
  .card-details-btn-container a{
    margin: 0.4rem 0px 0px 0.1rem;
    font-size: 0.8rem;
  }



}
@media (max-width: 400px){
  .project-container {
    padding: 0 4rem 0 4rem;
  }
  .card {
    height: 19rem;
    width: 20rem;
  }
  .card-details{
    padding-left: .1rem;
  }
  .card-details span {
    margin: 0.3rem 0px 0px 0rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 385px){
  .project-container {
    padding: 0 3.5rem 0 3.5rem;
  }
  .card {
    height: 17rem;
    width: 20rem;
  }
  .card-img {
    width: 100%;
    height: 54%;
  }
}
@media (max-width: 360px){
  .project-container {
    padding: 0 3.2rem 0 3.2rem;
  }
  .card {
    height: 16.9rem;
    width: 20rem;
  }
  .card-img {
    width: 100%;
    height: 51%;
  }
}
@media (max-width: 340px){
  .project-container {
    padding: 0 2.8rem 0 2.8rem;
  }
  .card {
    height: 15rem;
    width: 19rem;
  }
  .card-img {
    width: 100%;
    height: 51%;
  }
}
@media (max-width: 300px){
  .card {
    height: 14rem;
    width: 19rem;
  }
  .card-img {
    width: 100%;
    height: 50.5%;
  }
}
@media (max-width: 280px){
  .project-container {
    padding: 0 2.3rem 0 2.3rem;
  }
  .card {
    height: 12.5rem;
    width: 17rem;
  }
  .card-img {
    width: 100%;
    height: 45%;
  }
}