
<section class="container">
    <h1>Forget</h1>

    <%
        if(typeof message !== 'undefined'){
            %>
            <h4><%= message %></h4>
            <%
        }
    %>

    <form action="/forget" method="post">
        <input type="email" name="email" placeholder="Email or username" required>
        <br><br>
        <input type="submit" value="Send link">
    </form>
</section>
