<link rel="stylesheet" type="text/css" href="/stylesheets/registration.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>

<section class="login-container">
  <div class="sub-container">
    <div class="right">
        <h1 class="regTitle">User Registration</h1>

        <form action="" method="post" enctype="multipart/form-data" class="input-container">
            <label class="custom-file-upload">
              <input type="file" name="image" required id="image-input" class="inp-field"/>
              <i class="fa-solid fa-user"></i>
            </label>
            <br>
            <input type="text" name="name" placeholder="Enter name" required class="inp-field"/>
            <input type="email" name="email" placeholder="example@domain.com" required class="inp-field"/>
            <input type="text" name="mobile" placeholder="Mobile No." required class="inp-field"/>
            <input type="password" name="password" placeholder="Enter Password" required class="inp-field"/>
            <br>
            <input type="submit" value="Register" class="btn" />
        
            <a href="/login" class="login-link">Already have an account?</a>
        </form>
      
        <% if(typeof message !== 'undefined'){ %>
        <p class="regiter-success-msg"><%= message %>&#x2713;&#x2713;</p>
        <% } %>
    </div>
    <div class="left">
      <img src="/images/home-bg.png" alt="">
    </div>
  </div>
</section>


